@model UsuarioViewModel
<h2>Log In</h2>
<div class="row">
    <div class="col-md-10">
        <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="userName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="userName" class="form-control" />
                    <span asp-validation-for="userName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="password" type="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="padding-top: 10px">
                    <button type="submit" class="btn btn-outline-dark">Log In</button>
                </div>
            </div>
        </form>
    </div>
</div>